*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

body {
  /* Put the font info in body because it is more effecient. The body is the parent tag to all other tags so they will inherit whatever font the body has. */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1.5rem; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  /* This can eliminate funky effects in the animation */
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, #22a59a 40%, #00635b);
  font-size: 3.5rem;
  line-height: 3.5rem;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewX(3deg) skewY(-10deg) scale(1.1);
    text-shadow: 10px 12px 25px rgba(0, 0, 0, 0.486);
    transition: 1s; }

.heading-tertiary {
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    padding-bottom: 3rem; }

.u-center-text {
  width: 100%;
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  /* this sets the transition time for all animations on btn:link */ }

.btn--white {
  color: #777;
  background-color: #FFF;
  border-radius: 10rem;
  font-weight: 400;
  font-size: 1.8rem;
  margin-left: -2.2rem; }

.btn--primary {
  color: #FFF;
  background-image: linear-gradient(#22a59a, #00635b);
  border-radius: 10rem;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: .15rem;
  margin-left: -2.2rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.336); }

.btn--secondary {
  text-transform: uppercase;
  color: #FFF;
  background-image: linear-gradient(#22a59a, #00635b);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.336); }

.btn:hover {
  transform: translateY(-0.2rem) scale(1.1);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .75s ease-out .5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #789A40;
  padding: 1rem;
  text-decoration: none;
  border-bottom: 2px solid #789A40; }

.btn-text:hover {
  background-color: #28b485;
  color: #FFF;
  transform: translateY(-3px);
  transition: all .5s;
  box-shadow: 0px 0.7rem 1.8rem rgba(0, 0, 0, 0.3); }

.btn-text:active {
  box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: all .1s; }

.row {
  max-width: 135rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 3rem)) / 4); }

.menu-item {
  height: 40rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 200rem; }
  .menu-item-side__front {
    box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.3);
    height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden; }
  .menu-item-side__back {
    width: 56.4vw;
    height: 80.5vh;
    position: absolute;
    top: -14.5vh;
    left: 19vw;
    box-shadow: 0 0.2rem 5.5rem rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    background-color: #f7f7f7; }
    .menu-item-side__back--picture {
      height: 25rem; }
      .menu-item-side__back--picture-1 {
        background-image: url(../img/steak-small.jpg);
        background-size: cover; }
    .menu-item-side__back--ingredients {
      width: 50%;
      text-align: center;
      float: left; }
      .menu-item-side__back--ingredients::after {
        content: "";
        clear: both;
        display: table; }
    .menu-item-side__back--nutrition {
      width: 50%;
      text-align: center;
      float: right; }
      .menu-item-side__back--nutrition::after {
        content: "";
        clear: both;
        display: table; }
  .menu-item__description {
    margin-bottom: 3rem; }
  .menu-item__heading {
    padding: 1rem; }
  .menu-item__picture {
    height: 20rem; }
    .menu-item__picture--1 {
      background-image: url(../img/steak-small.jpg);
      background-size: cover; }
  .menu-item:active .menu-item-side__front {
    animation: spin-out 8s ease-in-out; }
  .menu-item:active .menu-item-side__back {
    animation: spin-in 8s ease-out; }

@keyframes spin-in {
  0% {
    transform: translateX(-18vw) rotate(-45deg) rotateX(-90deg) scale(0.7);
    opacity: 0; }
  5% {
    transform: translateX(-18vw) rotate(-45deg) rotateX(-90deg) scale(0.7);
    opacity: 0; }
  6% {
    opacity: 1; }
  10% {
    transform: translateX(0) rotate(0) rotateY(0) scale(1);
    opacity: 1; }
  100% {
    transform: translateX(0) rotate(0) rotateY(0) scale(1);
    opacity: 1; } }

@keyframes spin-out {
  0% {
    transform: translateX(0) rotate(0) rotateY(0) scale(1); }
  4% { }
  10% {
    transform: translateX(36vw) rotate(90deg) rotateY(-180deg) scale(2); }
  100% {
    transform: translateX(36vw) rotate(90deg) rotateY(-180deg) scale(2); } }

.move-down {
  margin-top: 30vh; }

.menu-item-side__back--heading {
  padding-top: 30rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 90%), url(../img/hero2.jpg);
  background-size: cover;
  background-position: top;
  background-position: 0 -10rem;
  background-repeat: no-repeat;
  /* Determines how image is cropped on resize */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8.5rem;
    /* If you just set the height, the width with be scaled accordingly */ }
  .header__text-box {
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* This is how we center our h1 text - this property is in relation to the element itself, whereas the absolute positioning is based upon the parent element's size */
    text-align: center; }
