.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to bottom, 
    rgba($color-black, .6), 
    rgba($color-black, 0.2 ) 50%, 
    rgba($color-black, 0 ) 90%), 
    url(../img/hero2.jpg);
    background-size: cover;
    background-position: top;
    background-position: 0 -10rem;
    background-repeat: no-repeat;
    /* Determines how image is cropped on resize */
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
    
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 8.5rem;
        /* If you just set the height, the width with be scaled accordingly */
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* This is how we center our h1 text - this property is in relation to the element itself, whereas the absolute positioning is based upon the parent element's size */
        text-align: center;
    }
}