.menu-item {
    height: 40rem;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 200rem;

    &-side {

        &__front{
            box-shadow: 0 .2rem 1.5rem rgba($color-black, .3);
            height: 40rem;
            border-radius: 10px;
            overflow: hidden;
            backface-visibility: hidden;
            position: relative;

            background-color: orangered;
        }

        &__back {
            // transform:  translateX(-36vw) rotate(-90deg) rotateY(180deg);
            // transform: rotate(90deg) rotateY(180deg);
            // opacity: 0;
            width: 56.4vw;
            height: 80.5vh;
            position: absolute;

            box-shadow: 0 .2rem 5.5rem rgba($color-black, .3);
            border-radius: 6px;
            overflow: hidden;
            border-radius: 10px;
            opacity: 0;
            display: none;
            
            // background-color: $color-grey-light-1;
            background-color: blue;

            &--picture {

                height: 25rem;

                &-1 {
                    background-image: url(../img/menu-items/mains/steak-small.jpg);
                    background-size: cover;
                }
            }
            

            &--ingredients {
                width: 50%;
                text-align: center;
                float:left;

                @include clearfix;
            } 
            
            &--nutrition {
                width: 50%;
                text-align: center;
                float:right;

                @include clearfix;
            }
        }
    }

    &__description {
        margin-bottom: 3rem;
    }

    &__heading {
        padding: 1rem;
    }

    &__picture {
        height: 20rem;

        &--1 {
            background-image: url(../img/menu-items/mains/steak-small.jpg);
            background-size: cover;
        }
    }
}

.col-1-of-4 {
    transition: all 8s ease-in-out;
}

.column-1 {

    

    &:active > .menu-item-side__front {
        animation: spin-out-col-1 8s ease-in-out;
    }

    &:active > .menu-item-side__back {
        animation: spin-in-col-1 8s ease-out;
        opacity: 1;
        display: block;
    }

    & > .menu-item-side__back {
        top: -14.5vh;
        left: 19vw;
    }
}

.column-2 {

    &:active > .menu-item-side__front {
        animation: spin-out-col-2 8s ease-in-out;
    //    animation: spin 3s ease-in-out;

    }

    &:active > .menu-item-side__back {
        animation: spin-in-col-2 8s ease-out;
        opacity: 1;
        display: block;
    }

    & > .menu-item-side__back {
        top: -14.5vh;
        left: -5vw;;
    }
}

.column-3 {

    &:active > .menu-item-side__front {
        animation: spin-out-col-3 8s ease-in-out;
    //    animation: spin 3s ease-in-out;

    }

    &:active > .menu-item-side__back {
        animation: spin-in-col-3 8s ease-out;
        opacity: 1;
        display: block;
    }

    & > .menu-item-side__back {
        top: -14.5vh;
        left: -29.3vw;
    }
}

.column-4 {

    &:active > .menu-item-side__front {
        animation: spin-out-col-4 8s ease-in-out;
    //    animation: spin 3s ease-in-out;

    }

    &:active > .menu-item-side__back {
        animation: spin-in-col-4 8s ease-out;
        opacity: 1;
        display: block;
    }

    & > .menu-item-side__back {
        top: -14.5vh;
        left: -52vw;
    }
}




// DELETE THIS SHIT EVENTUALLY

.move-down {
    margin-top: 30vh;
}

.menu-item-side__back--heading {
    padding-top: 30rem;
}
