.menu-item {
    height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 .2rem 1.5rem rgba($color-black, .3);

    &__heading {
        padding: 1rem;
    }

    &__picture {
        height: 20rem;

        &--1 {
            background-image: url(../img/steak-small.jpg);
            background-size: cover;
        }
    }
}